body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.container > h1 {
  text-align: center;
}

.chatContainer {
  border: 1px solid;
  padding: 15px;
}

.messageList {
  min-height: 450px;
  max-height: 450px;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 0px;
  -ms-overflow-style: none;
}

.message-left {
  text-align: left;
  background-color: #dfe4e6;
  padding: 6px;
  padding-left: 20px;
  border-radius: 10px;
  width: 85%;
  margin-right: auto;
}

.message-right {
  text-align: right;
  background-color: #b0e2f0;
  padding: 6px;
  padding-right: 20px;
  border-radius: 10px;
  width: 85%;
  margin-left: auto;
}

.inputText {
  border-top: 1px solid;
  display: flex;
  height: 70px;
}

.inputText > input {
  width: 75%;
  min-height: 30px;
  border-style: none;
  padding: 10px;
  margin-top: 10px;
}

.inputText > input:focus {
  outline: none;
}

.inputText > button {
  width: 25%;
  background: none;
  border-style: none;
  cursor: pointer;
}

.inputText > button:focus {
  outline: none;
}

.inputText > button > img {
  margin-top: 10px;
}

.inputText > button > img:focus {
  outline: none;
}
